@import "../../style/style.scss";

.book-list {
  width: fit-content;
  margin: $margin-secondary;
  padding: $padding-secondary;
  h2 {
    text-align: center;
  }
  .book-list-card {
    margin: $margin-secondary;
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
      width: 50px;
      margin-right: $margin-secondary;
      transition: all 1s;
      &:hover {
        width: 300px;
      }
    }
  }
}
