@import "./../../style/style.scss";
.user-data {
  width: fit-content;
  margin: $margin-secondary;
  padding: $padding-secondary;
  background-color: $background-color-secondary;
  @include border-primary;
  h2 {
    margin-bottom: $margin-secondary;
  }
}
