@import "../../style/style.scss";

.header-main {
  padding: $padding-secondary;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  img {
    height: 100px;
    transition: all 1s;
    &:hover {
      height: 200px;
    }
  }
}
