@import "../../style/style.scss";

.search-book {
  width: fit-content;
  margin: $margin-secondary;
  padding: $padding-secondary;
  background-color: $background-color-secondary;
  border-radius: $border-radius-primary;
  box-shadow: 5px 5px 5px $box-shadow-color-primary;
  .search-field {
    display: flex;
    flex-direction: row;
    div {
      display: flex;
      flex-direction: column;
      label {
      }
      input {
        width: 150px;
        background-color: aquamarine;
      }
    }
  }
}
