@import "../../../style/style.scss";
.book-saved-show {
  background-color: $background-color-secondary;
  margin: $margin-secondary;
  padding: $padding-secondary;
  border: 5px double $border-color-primary;
  border-radius: $border-radius-primary;
  box-shadow: 5px 5px 5px $box-shadow-color-secondary;
  max-height: 90vh;
  overflow-y: auto;

  h2 {
    padding: $padding-secondary;
    text-align: center;
    .favorite-star {
      color: $color-quaternary;
    }
  }

  .img-info {
    padding: $padding-secondary;
    display: flex;
    flex-direction: row;

    .book-saved-cover {
      width: 200px;
      height: auto;
      margin-right: $margin-secondary;
      transition: width 1s;
      &:hover {
        width: 300px;
        height: auto;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
    .short-info {
      display: flex;
      flex-direction: column;
      h3 {
        margin-bottom: $margin-secondary;
      }
    }
  }
  .first-sentence,
  .description {
    margin: $margin-secondary;
  }
  footer {
    padding: $padding-secondary;
    display: flex;
    justify-content: end;
  }
}
