@import "../../../style/style.scss";

.book-saved-edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    text-align: center;
    padding: $padding-secondary;
  }
  div {
    margin: $margin-primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    .edit-rating-div {
      display: flex;
      flex-direction: row;
      align-items: center;
      button {
        margin: $margin-primary;
      }
      .button-favorite-true {
        background-color: $button-background-color-quaternary;
        color: $color-primary;
      }
      .button-read-true {
        background-color: $button-background-color-quaternary;
        color: $color-primary;
      }
      .edit-rating-input {
        width: 40px;
        margin-left: $margin-secondary;
        margin-right: $margin-primary;
        padding: $padding-primary;
      }
    }
    button {
      margin: $margin-primary;
    }
  }
}
